#container-item {
    display: flex;
    align-items: center;
  }
  
  #container-item img {
    width: 40px;
    height: 45px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  ul li{
    text-decoration: none;
    text-align: center;
    width: 5%;
  }

  ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
    list-style-type: none;
    
  }

  
  .item-components {
    
    text-align:center;
  }
  
  #container-item .item-components {
    width: 20vw;
    margin: 0 auto;
    font-weight: bold;
  }
  
  #container-item .trash {
    display: flex;
    border: 1px solid #a8a4a4;
    background-color: #5c5555;
    border-radius: 5px;
    font-size: 12px;
    color: #3b3838;
    width: 50px;
    justify-content: center;
    cursor: pointer;
       
  }
  
  #container-item .trash:hover {
    background-color: #dfdfdf;
  }

  #container-item .change {
    display: flex;
    border: 1px solid #a8a4a4;
    background-color: #5c5555;
    border-radius: 5px;
    font-size: 12px;
    color: #3b3838;
    width: 50px;
    justify-content: center;
    cursor: pointer;
  }
  #container-item .change:hover {
    background-color: #dfdfdf;
  }
  