.app{
  min-height: 100vh;
  max-width: 100vw;
 

}

.app h1{
  margin: 0;
  padding-top: 10px;
  font-weight: 20px;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

li label{
  margin-right: 10px;
}

.colors{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; 
  list-style-type: none;
  
}
.colors li{
  text-decoration: none;
  text-align: center;
  width: 25%;
}

.colors .hide button{
  border-radius: 5px;
  cursor: pointer;
}
.colors .hide button:hover{
   background-color: aliceblue;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.colors{
  display: flex;
  justify-content: flex-end;
}



